.post__btn {
  background-color: #2ea9b2;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.6s;
}

.post__btn:hover {
  opacity: 0.7;
}
